<script type="text/javascript">
	$(function () {
		$("#page_title").watermark("Enter Page Title (required)");
		$("#page_relative_url").watermark("Enter Relative URL (required)");
	});
</script>

<% @page.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>
<p>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :content, 'Page Content' %><br />
  <%= f.text_area :content, :rows => 40, :cols => 80 %>
</p>
<p>
  <%= f.text_field :relative_url %><span class="search_help" id="testtip"><a href="#relative_url_help"><img style="padding-right:36px; padding-top:6px" src="/images/tips.png" border="0" /></a></span>
</p>
<%= fields_for :file do |attachment| %>
  <p>
    <%= attachment.label :upload, "Attachment" %><br />
    <%= attachment.file_field :upload %>
  </p>
<% end %>

<script>
$('#testtip a').trigger('change');
</script>