<p id="flash"><%= notice %></p>
<%= form_for(@page, :url => url_for(:controller => 'edit_page/pages', :action => 'update', :id => @page.id), :html => { :multipart => true }, :remote => true) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to "cancel", url_for(:contoller => 'edit_page/pages', :action => 'show', :id => @page.id) %>&nbsp;&nbsp;<%= link_to "Delete Page", url_for(:controller => 'edit_page/pages', :action => 'destroy', :id => @page.id), :method => :delete, :remote => true, :confirm => "Are you sure you want to delete this page? This will remove the page from your site." %>