<p id="flash"><%= notice %></p>
<%= form_for @page, :url => url_for(:controller => 'edit_page/pages', :action => 'create'), :html => { :multipart => true }, :remote => true do |f| %>
  <% @page.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= link_to "cancel", url_for(:contoller => 'edit_page/pages', :action => 'index') %>&nbsp;&nbsp;<%= f.submit %>
<% end %>