<h1><%= @page.title %></h1><br />

<p><%= @page.content.html_safe %></p><br />

<p><%= link_to "Edit This Page", url_for(:controller => 'edit_page/pages', :action => 'edit', :id => @page.id) %></p>
<p><%= link_to "Delete Page", url_for(:controller => 'edit_page/pages', :action => 'destroy', :id => @page.id), :method => :delete, :remote => true, :confirm => "Are you sure you want to delete this page? This will remove the page from your site." %></p>
<p><%= link_to "back to pages", url_for(:controller => 'edit_page/pages', :action => 'index') %></p>